.social__list {
  @include lsr;
  display: flex;
}

.social__item {
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: block;

  & svg {
    transition: fill 0.3s;
  }

  &:hover svg {
    fill: $yellow;
  }
}
