+b.social
  +e.UL.list
    +e.LI.item
      +e.A.link(href="#")
        +icon('facebook')(width="24", height="24")
    +e.LI.item
      +e.A.link(href="#")
        +icon('vk')(width="24", height="24")
