- const vacancy = getData('vacancy')

+b.vacancy
  +e.inner
    +e.wrap
      +e.H2.title.main__title вакансии в гросс маркете
      +e.slider-controls
        +e.BUTTON.slider-button.--prev(aria-label="prev", type="button")
          +icon('arrow-prev')(width="10", height="10")
        +e.BUTTON.slider-button.--next(aria-label="next", type="button")
          +icon('arrow-next')(width="10", height="10")
    +e.slider
      each item in vacancy
        +e.item
          +card(item)
