.radio__label {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  background-color: $white;
  border-radius: 8px;
  padding: 10px 15px;
  transition: background-color 0.3s;
  cursor: pointer;

  &:hover {
    background-color: $yellow;
  }
}

.radio__field:checked + .radio__label {
  background-color: $yellow;
}
