.hero {
  background-color: $gray;
  margin-bottom: 68px;

  @include max($sm) {
    margin-bottom: 53px;
  }

  & .container {
    padding-left: 150px;
    padding-right: 150px;

    @include max($xl) {
      padding: 0;
    }
  }
}

.hero__inner {
  position: relative;
}

.hero__item {
  padding: 0 15px;

  @include max($xl) {
    padding: 0;
  }
}

.hero__item-inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 400px;
  overflow: hidden;

  @include max(660) {
    flex-wrap: wrap;
  }
}

.hero__img {
  position: relative;
  height: 400px;
  max-width: 612px;
  width: 612px;

  @include max($md) {
    width: 368px;
  }

  @include max(660) {
    width: 100%;
    max-width: 100%;
  }
}

.hero__img-inner {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 612px;
  height: 612px;
  overflow: hidden;
  border-radius: 100%;

  @include max(660) {
    transform: translate(50%, 0);
    top: 0;
    right: 50%;
    left: auto;
  }

  & img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;

    @include max(660) {
      object-fit: none;
      object-position: top;
    }
  }
}

.hero__title {
  margin: 43px 0 0;
  width: 450px;
  font-weight: 500;
  font-size: 72px;
  line-height: 67px;

  @include max($xl) {
    padding-left: 39px;
  }

  @include max($md) {
    width: 400px;
  }

  @include max(740) {
    padding-left: 15px;
  }

  @include max(660) {
    width: 100%;
    padding: 0 15px;
    font-size: 48px;
    line-height: 44px;
    margin-bottom: 48px;
  }

  @include max($sm) {
    margin-top: 49px;
  }
}

.hero__badge {
  position: absolute;

  &--top {
    top: 48px;

    @include max($sm) {
      top: 92px;
    }
  }

  &--bottom {
    bottom: 48px;

    @include max($sm) {
      bottom: 83px;
    }
  }

  &--left {
    left: 120px;

    @include max($lg) {
      left: 80px;
    }

    @include max($sm) {
      left: 15px;
    }
  }

  &--right {
    right: 120px;

    @include max($lg) {
      right: 40px;
    }

    @include max($sm) {
      right: 15px;
    }
  }
}

.hero__slider-controls {
  position: absolute;
  left: 14px;
  bottom: 51px;
  width: 91px;
  background-color: $white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 10px;

  @include max($xl) {
    left: 39px;
  }

  @include max(740) {
    left: 15px;
  }

  @include max(660) {
    display: none;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 2px;
    height: 28px;
    background-color: $gray;
  }

  & .slick-disabled {
    & svg {
      fill: #cccccc;
    }

    &:hover {
      background-color: $white;
      cursor: not-allowed;
    }
  }

}

.hero__slider-button {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  appearance: none;
  transition: background-color 0.3s;
  padding: 0;

  &:last-of-type {
    margin-left: auto;
  }

  &:hover {
    background-color: $gray;
  }

  & svg {
    fill: $black;
  }
}
