.footer {
  padding: 72px 0 8px;
  background-color: $gray;

  & .logo {
    @include max($sm) {
      margin-bottom: 24px;
    }
  }

  @include max($sm) {
    padding: 48px 0 8px;

    & .container {
      padding: 0;
    }
  }
}

.footer__top {
  display: flex;
  align-items: center;
  background-color: $white;
  padding: 24px;
  border-radius: 8px;

  @include max($sm) {
    padding: 24px 15px;
    border-radius: 0;
    flex-direction: column;
  }

  @include max($xs) {
    align-items: flex-start;
  }
}

.footer__share {
  margin-left: auto;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;

  @include max($sm) {
    width: 100%;
    padding-left: 0;
    justify-content: center;
  }

  @include max($xs) {
    justify-content: flex-start;
  }
}

.footer__share-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 41px;
  margin: 0;

  @include max(640) {
    display: none;
  }
}


.footer__bottom {
  display: flex;
  align-items: center;
  padding: 24px 0;

  @include max($sm) {
    padding: 18px 15px 24px;
    flex-direction: column;
  }
}

.footer__copyright {
  width: 50%;
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  @include max($sm) {
    width: 100%;
    text-align: center;
    order: 1;
  }

  @include max($xs) {
    text-align: left;
  }
}

.footer__policy {
  width: 50%;
  padding-left: 15px;

  @include max($sm) {
    width: 100%;
    padding-left: 0;
    text-align: center;
    margin-bottom: 24px;
  }

  @include max($xs) {
    text-align: left;
  }
}

.footer__policy-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: $black;

  &:hover {
    text-decoration: underline;
  }
}
