+b.SECTION.photo
  .container
    +e.H2.title.main__title мы в инстаграме
    +e.wrap
      +e.UL.top-list
        +e.LI.top-item.--first
        +e.LI.top-item.--second
        +e.LI.top-item
        +e.LI.top-item
        +e.LI.top-item
      +e.UL.list
        +e.LI.item
        +e.LI.item
        +e.LI.item
        +e.LI.item
        +e.LI.item
        +e.LI.item
        +e.LI.item
        +e.LI.item
    +e.BUTTON.btn показать ещё
