- const count = 0

+b.SECTION.photo
  .container
    +e.H2.title.main__title мы в инстаграме
    +e.wrap
      +e.UL.top-list
        +e.LI.top-item.--first
          +e.A.link(href="#" target="_blank")
        +e.LI.top-item.--second
          +e.A.link(href="#" target="_blank")
        +e.LI.top-item
          +e.A.link(href="#" target="_blank")
        +e.LI.top-item
          +e.A.link(href="#" target="_blank")
        +e.LI.top-item
          +e.A.link(href="#" target="_blank")
      +e.UL.list
        +e.LI.item
          +e.A.link(href="#" target="_blank")
        +e.LI.item
          +e.A.link(href="#" target="_blank")
        +e.LI.item
          +e.A.link(href="#" target="_blank")
        +e.LI.item
          +e.A.link(href="#" target="_blank")
        +e.LI.item
          +e.A.link(href="#" target="_blank")
        +e.LI.item
          +e.A.link(href="#" target="_blank")
        +e.LI.item
          +e.A.link(href="#" target="_blank")
        +e.LI.item
          +e.A.link(href="#" target="_blank")
    +e.BUTTON.btn показать ещё
