.logo {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 32px;
  line-height: 41px;
  color: $black;
  transition: opacity 0.3s;

  @include max($sm) {
    font-size: 24px;
    line-height: 30px;
  }

  &:hover {
    opacity: 0.7;
  }

  & img {
    margin-right: 20px;
    width: 17px;
    height: 24px;

    @include max($sm) {
      margin-right: 12px;
    }
  }
}
