- const radio = getData('radio')

+b.SECTION.map
  .container
    +e.inner
      +e.H2.title.main__title география
      +e.wrap
        +e.body#map
          +e.FORM.form(method="post")
            each item in radio
              +radio(item)

