.header {
  padding: 32px 0;

  @include max($sm) {
    padding: 16px 0;
  }
}

.header__inner {
  display: flex;
  align-items: center;
}

.header__nav {
  margin-left: auto;

  @include max(660) {
    position: absolute;
    top: 111px;
    left: 0;
    width: 100%;
    background-color: $white;
    margin-left: 0;
    z-index: 2;
    display: none;
  }

  @include max($sm) {
    top: 70px;
  }

  &--open {
    display: block;
  }

  &--fixed {
    @include max(660) {
      display: block;
      position: fixed;
      top: -40px;
      left: 0;
      background-color: transparent;

      & .header__btn {
        width: 100%;
      }
    }
  }
}

.header__wrap {
  @include max(660) {
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 20px 15px;
    display: flex;
  }
}

.header__phone {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  margin-left: auto;
  margin-right: 32px;
  color: $black;
  transition: opacity 0.3s;

  @include max(660) {
    margin: 0 0 20px;
    text-align: center;
  }

  &:hover {
    opacity: 0.5;
  }
}

.header__phone-btn {
  display: none;
  border: none;
  background-color: transparent;
  appearance: none;
  margin-left: auto;
  padding: 10px 20px 10px;

  @include max(660) {
    display: block;
  }

  &:hover {
    & svg {
      fill: $yellow;
    }
  }
}
