.header {
  padding: 32px 0;

  @include max($sm) {
    padding: 24px 0;
  }
}

.header__inner {
  display: flex;
  align-items: center;
}

.header__phone {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  margin-left: auto;
  margin-right: 32px;
  color: $black;
  transition: opacity 0.3s;

  @include max(660) {
    display: none;
  }

  &:hover {
    opacity: 0.5;
  }
}

.header__btn {
  @include max(660) {
    display: none;
  }
}
