+b.HEADER.header
  .container
    +e.inner
      include ../../blocks/logo/logo
      +e.nav
        +e.wrap
          +e.A.phone(href="tel:+79264331416") +7 (926) 433-14-16
          +btn('заполнить анкету', 'button', 'btn header__btn')
      +e.BUTTON.phone-btn
        +icon('phone')(width="16", height="24")
